<div class="branding-container">
{{ variables.thm_branding }}
</div>
<div class="utility-container">
{{ render_menu('utility-menu') }}
</div>
<div class="main-menu-container">
{{ render_menu('main-menu') }}
</div>